{% extends 'base.html.twig' %}

{% block body %}
{% set invalid = "no" %}
<section class="section">
    <h1 class="title"><i class="material-icons mr-3" style="font-size: 25px;">shopping_cart</i>Mon panier</h1>
    {% if panier is not null %}
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                <i class="material-icons mr-3">info</i>
                    Détails
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="is-flex is-justify-content-space-between">
                        {% if panier.getNombreProduits() > 0 %}
                            <div class="is-5">
                                 <span class="has-text-weight-bold">{{ panier.getQuantitéTotale() }}</span> articles(s) dans le panier
                            </div>
                            <div class="is-5 is-flex">
                                Prix total :  <span class="has-text-weight-bold">&nbsp{{ panier.getTotal() }} €</span>
                            </div>
                        {% else %}
                            <div class="is-5">
                                Votre panier est vide !
                            </div>
                        {% endif %}
                    </div>
                    {% for ligne in panier.getLignePanierClients() %}
                    <hr>
                    <form action="{{ path('modifier_panier', {'idPanier': panier.getId(), 'idProduit': ligne.produit.id}) }}" method="post">
                        <p class="is-flex is-align-items-center has-text-weight-semibold is-size-5">
                            <i class="material-icons mr-3">shopping_basket</i>
                            <span class="">{{ ligne.produit.nom }}</span>
                            <a href="{{ path('catalogue_produit', {'id': ligne.produit.id}) }}" class="button is-ghost">
                                <i class="material-icons icon">info</i>
                            </a>
                        </p>
                        <p class="is-flex is-align-items-center"><i class="material-icons-outlined mr-3">info</i> Prix unitaire <i class="material-icons ml-2 mr-2 is-flex" style="font-size: 11px;">arrow_forward</i> <span class="has-text-weight-medium">{{ ligne.prixUnitaire }} €</span></p>
                        <p class="is-flex is-align-items-center"><i class="material-icons-outlined mr-3">info</i> Total <i class="material-icons ml-2 mr-2 is-flex" style="font-size: 11px;">arrow_forward</i><span class="has-text-weight-bold">{{ ligne.quantite }} x {{ ligne.prixUnitaire }} = {{ ligne.total }} € </span></p>
                        {% set produit = panier.getProduitById(ligne.produit.id) %}
                        {% if ligne.quantite > produit.getStock().getQuantite() %}
                            {% set invalid = "yes" %}
                            <p class="is-flex is-align-items-center has-text-danger"><i class="material-icons mr-3">warning</i> Stock insuffisant : {{ produit.getStock().getQuantite() }} unité(s) restante(s) : Veuillez réduire la quantité</p>
                        {% endif %}
                        {% if produit.getStock().getStatut() == 'Quasiment Epuise' %}
                            <p class="is-flex is-align-items-center has-text-danger"><i class="material-icons mr-3">warning</i> Stock : {{ produit.getStock().getQuantite() }} unité(s) restante(s)</p>
                        {% elseif produit.getStock().getStatut() == 'En Rupture de Stock' or produit.getStock().getStatut() == 'Indisponible' %}
                            <p class="is-flex is-align-items-center has-text-danger"><i class="material-icons mr-3">warning</i> Stock : Rupture de stock</p>
                        {% endif %}
                        <div class="field is-horizontal is-flex is-align-items-center has-addons mt-5">
                            <div class="control">
                                <input class="input" type="number" value="{{ ligne.quantite }}" name="quantite" min="1" max="{{ produit.getStock().getQuantite() }}">
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-primary"><i class="material-icons">edit</i></button>
                            </div>
                            <div class="control">
                                <a href="{{ path('supprimer_produit_panier', {'idPanier': panier.getId(), 'idProduit': ligne.produit.id}) }}" class="button is-danger"><i class="material-icons">delete</i> </a>
                            </div>
                        </div>
                    </form>
                    {% endfor %}
                </div>
            </div>
            {% if panier.getNombreProduits() > 0 %}
                <footer class="card-footer">
                    <a href="{{ path('vider_panier') }}" class="card-footer-item">
                        <i class="material-icons mr-3">delete</i> Vider le panier
                    </a>
                    {% if invalid == "no" %}
                        <a href="{{ path('valider_panier') }}" class="card-footer-item">
                            <i class="material-icons mr-3">shopping_cart</i> Passer la commande
                        </a>
                    {% endif %}
                </footer>
            {% endif %}
        </div>
    {% else %}
        <div class="notification is-warning">
            <p>Vous n'avez pas de panier</p>
        </div>
    {% endif %}
</section>
{% endblock %}
