{% extends 'base.html.twig' %}

{% block body %}
<section class="section">
    <h1 class="title"><i class="material-icons mr-3" style="font-size: 25px;">checklist</i>Valider le panier</h1>
    <div class="columns">
        <div class="column is-8">
            <div class="box">
                <h2 class="title is-4 is-flex"><i class="material-icons mr-3" style="font-size: 25px;">list</i>Récapitulatif de la commande</h2>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ligne in panier.getLignePanierClients() %}
                            <tr>
                                <td>{{ ligne.produit.nom }}</td>
                                <td>{{ ligne.quantite }}</td>
                                <td>{{ ligne.prixUnitaire|round(2, 'floor') }} €</td>
                                <td>{{ ligne.total|round(2, 'floor') }} €</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="1" class="has-text-weight-semibold">Total HT</td>
                            <td colspan="2"></td>
                            <td>{{ panier.getTotal() }} €</td>
                        </tr>
                        <tr>
                            <td colspan="1" class="has-text-weight-semibold">TVA (20%)</td>
                            <td colspan="2"></td>
                            <td>{{ (panier.getTotal() * 0.2)|round(2, 'floor') }} €</td>
                        </tr>
                        <tr>
                            <td colspan="1" class="has-text-weight-semibold">Total TTC</td>
                            <td colspan="2" class="has-text-weight-semibold">{{ panier.getQuantitéTotale() }} article(s)</td>
                            <td>{{ (panier.getTotal() * 1.2)|round(2, 'floor') }} €</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="column is-4">
            <div class="box">
                <h2 class="title is-4 is-flex"><i class="material-icons mr-3" style="font-size: 25px;">person</i>Informations de livraison</h2>
                <form action="{{ path('commander_panier') }}" method="post">
                    <div class="field">
                        <label class="label">Nom</label>
                        <div class="control">
                            <input class="input" type="text" name="nom" required value="{{ client.getNom() }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Prénom</label>
                        <div class="control">
                            <input class="input" type="text" name="prenom" required value="{{ client.getPrenom() }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Adresse</label>
                        <div class="control">
                            <input class="input" type="text" name="adresse" required value="{{ client.getAdresse() }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Code postal</label>
                        <div class="control">
                            <input class="input" type="text" name="codePostal" required value="{{ client.getCodePostal() }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Ville</label>
                        <div class="control">
                            <input class="input" type="text" name="ville" required value="{{ client.getVille() }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Téléphone</label>
                        <div class="control">
                            <input class="input" type="tel" name="telephone" required value="{{ client.getTelephone() }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Date de livraison souhaitée</label>
                        <div class="control">
                            <input class="input" type="date" name="date_livraison" required>
                        </div>
                    </div>
                    <hr>
                    <h2 class="title is-4 is-flex"><i class="material-icons mr-3" style="font-size: 25px;">credit_card</i>Informations de paiement</h2>
                    <div class="field">
                        <label class="label">Moyen de paiement</label>
                        <div class="control">
                            <div class="select">
                                <select id="moyen-paiement" name="moyen_paiement" required>
                                    <option value="carte">Carte bancaire</option>
                                    <option value="reception">A réception</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field paiement-field">
                        <label class="label">Numéro de carte bancaire</label>
                        <div class="control">
                            <input class="input" type="text" name="numero_carte" required>
                        </div>
                    </div>
                    <div class="field paiement-field">
                        <label class="label">Date d'expiration</label>
                        <div class="control">
                            <input class="input" type="date" name="date_expiration" required>
                        </div>
                    </div>
                    <div class="field paiement-field">
                        <label class="label">Cryptogramme</label>
                        <div class="control">
                            <input class="input" type="text" name="cryptogramme" required>
                        </div>
                    </div>
                    <hr>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary"><span class="icon mr-3"><i class="material-icons">shopping_cart_checkout</i></span> Finaliser la commande</button>
                        </div>
                        <div class="control">
                            <a href="{{ path('panier') }}" class="button is-light"><span class="icon mr-3"><i class="material-icons">arrow_back</i></span> Retour au panier</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
