<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Negosud{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/bulma.min.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/bulma-carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.7.1.min.js') }}"></script>
            <script src="{{ asset('js/bulma-carousel.min.js') }}"></script>
        {% endblock %}
    </head>
    <body class="has-navbar-fixed-top">
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <span class="material-icons" id="logo">
                        liquor
                    </span>
                </div>
                <div class="navbar-item">
                    <h1 class="title is-4">Negosud</h1>
                </div>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                <a class="navbar-item" href="{{ path('home') }}">
                    Accueil
                </a>

                <a class="navbar-item" href="{{ path('catalogue') }}">
                    Catalogue des vins
                </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Informations
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ path('presentation') }}">
                                Qui sommes-nous ?
                            </a>
                            {% if app.user %}
                                <a class="navbar-item" href="{{ path('contact') }}">
                                    Nous contacter
                                </a>
                                <hr class="navbar-divider">
                                <a class="navbar-item" href="{{ path('support') }}">
                                    Signaler un problème
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if app.user %}
                                <a class="button" href="{{ path('user_account') }}">
                                    <span class="material-icons mr-3">
                                        account_circle
                                    </span>
                                    {{ app.user.getEmail() }}
                                </a>
                                <a class="button is-success" href="{{ path('panier') }}">
                                    <span class="material-icons mr-3">
                                        shopping_cart
                                    </span>
                                    Mon panier
                                </a>
                                <a class="button is-outlined is-primary" href="{{ path('commande') }}">
                                    <span class="material-icons mr-3">
                                        local_shipping
                                    </span>
                                    Mes commandes
                                </a>
                                <button class="button is-rounded" id="dark-mode">
                                    <span id="theme-button" class="material-icons">
                                        light_mode
                                    </span>
                                </button>
                                <a class="button is-inverted is-rounded" href="{{ path('_logout_main') }}">
                                    <span class="material-icons">
                                        logout
                                    </span>
                                </a>
                            {% else %}
                                <a class="button is-dark" href="{{ path('register') }}">
                                    <strong>Inscription</strong>
                                </a>
                                <a class="button is-light" href="{{ path('login') }}">
                                    Connexion
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
        <script type="module" src="{{ asset('app.js') }}"></script>
    </body>
</html>
