{% extends 'base.html.twig' %}

{% block body %}
<nav class="level m-5 p-5 is-fixed-top">
    <div class="level-item">
        <p class="subtitle is-5">
         <span class="icon"><i class="material-icons">filter_list</i></span>
            Filtrer par
        </p>
    </div>
    <div class="level-item">
        <div class="field has-addons">
            <div class="control">
                <div class="select">
                    <select id="appellation">
                        <option selected disabled>Appellation</option>
                        {% for appellation in appellations %}
                            <option>{{ appellation }}</option>
                        {% endfor %}
                        <option>Tous</option>
                    </select>
                </div>
            </div>
            <div class="control">
                <div class="select">
                    <select id="cepage">
                        <option selected disabled>Cepage</option>
                        {% for cepage in cepages %}
                            <option>{{ cepage }}</option>
                        {% endfor %}
                        <option>Tous</option>
                    </select>
                </div>
            </div>
            <div class="control">
                <div class="select">
                    <select id="region">
                        <option selected disabled>Region</option>
                        {% for region in regions %}
                            <option>{{ region }}</option>
                        {% endfor %}
                        <option>Tous</option>
                    </select>
                </div>
            </div>
            <div class="control">
                <div class="select">
                    <select id="famille">
                        <option selected disabled>Famille</option>
                        {% for famille in famillesProduits %}
                            <option>{{ famille.getNom() }}</option>
                        {% endfor %}
                        <option>Tous</option>
                    </select>
                </div>
            </div>
            <div class="control">
                <div class="select">
                    <select id="fournisseur">
                        <option selected disabled>Fournisseur</option>
                        {% for fournisseur in fournisseurs %}
                            <option>{{ fournisseur }}</option>
                        {% endfor %}
                        <option>Tous</option>
                    </select>
                </div>
            </div>
            <p class="control">
                <button id="filter-button" class="button is-dark">
                    Filtrer
                </button>
            </p>
            <p class="control">
                <button id="reset-button" class="button">
                <i class="material-icons">refresh</i>
                </button>
            </p>
        </div>
    </div>
</nav>
<section id="produits" class="fixed-grid has-2-cols py-2 px-6 has-1-cols-mobile">
    <div class="grid ml-5 mr-5">
    {% for produit in produits %}
        <div class="card container m-3 cell">
            <div class="card-header">
                <p class="card-header-title is-size-4">
                    <i class="material-icons mr-2" style="font-size: 1.3rem;">local_bar</i>
                    {{ produit.getNom() }}
                </p>
            </div>
            <div class="is-flex card-content">
                <div class="card-image is-flex is-justify-content-end">
                    <figure class="image p-5">
                        <img src="{{ asset('img/' ~ produit.getNomImage()) }}" alt="Placeholder image" class="image" style="width: 12rem; border-radius: 10px;">
                    </figure>
                </div>
                <div class="p-2">
                    <div class="content">
                        <ul>
                            <li class="appellation mb-2">
                                <strong>Appelation:</strong> <span class="value">{{ produit.getAppellation() }} </span>
                            </li>
                            <li class="cepage mb-2">
                                <strong>Cepage:</strong> <span class="value">{{ produit.getCepage() }} </span>
                            </li>
                            <li class="region mb-2">
                                <strong>Region:</strong> <span class="value">{{ produit.getRegion() }} </span>
                            </li>
                            <li class="famille mb-2">
                                <strong>Famille:</strong> <span class="value">{{ produit.getFamilleProduitNom() }} </span>
                            </li>
                            <li class="fournisseur mb-2">
                                <strong>Fournisseur:</strong> <span class="value">{{ produit.getFournisseurNom() }} </span>
                            </li>
                            <li class="prix mb-2">
                                <strong>Prix:</strong> <span class="value">{{ produit.getPrixVente() }} €</span>
                            </li>
                            <li class="stock">
                                <strong>Disponibilité:</strong> <span class="value">{{ produit.getStock().getStatut() }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-3 card-footer pt-3 is-flex is-justify-content-space-between">
                <a href="{{ path('catalogue_produit', {'id': produit.getId()}) }}" class="button is-dark m-2">
                    <i class="material-icons mr-2">info</i>
                    <span class="is-size-6">Details</span>
                </a>
                {% if app.user and produit.getStock().getStatut() == 'En Stock' or produit.getStock().getStatut() == 'Quasiment Epuise' %}
                    <form action="{{ path('ajouter_panier', {'id': produit.getId()}) }}" method="post">
                        <div class="field has-addons">
                            <div class="control">
                                <input type="number" name="quantite" class="input m-2" id="quantity-{{ produit.getId() }}" value="1" min="1" max="100">
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-success m-2">
                                    <i class="material-icons">add_shopping_cart</i>
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}
                {% if produit.getStock().getStatut() == 'Indisponible' or produit.getStock().getStatut() == 'En Rupture de Stock' %}
                    <button class="button is-danger m-2" disabled>
                        <i class="material-icons mr-2">remove_shopping_cart</i>
                        <span class="is-size-6">Indisponible</span>
                    </button>
                {% elseif produit.getStock().getStatut() == 'Quasiment Epuise' %}
                    <button class="button is-warning m-2" disabled>
                        <i class="material-icons mr-2">warning</i>
                        <span class="is-size-6">Quasiment Epuisé</span>
                    </button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</section>
{% endblock %}
