{% extends 'base.html.twig' %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">{{ produit.getNom() }}</h1>
            <div class="columns">
                <div class="column is-one-third" style="max-width: 30%">
                    <img src="{{ asset('img/' ~ produit.getNomImage()) }}" alt="{{ produit.getNom() }}" class="image">
                </div>
                <div class="column content is-half">
                    <div class="is-flex is-align-items-center mb-5"><span class="mr-3 is-flex is-align-items-center"><i class="icon material-icons" style="font-size: 24px;">info</i></span><span class="title is-4">Fiche produit</span></div>
                    <hr>
                    <p class="is-flex"><span class="mr-3"><i class="icon material-icons">label</i></span><strong>Appellation</strong> : {{ produit.getAppellation() }}</p>
                    <p class="is-flex"><span class="mr-3"><i class="icon material-icons">wine_bar</i></span><strong>Cepage</strong> : {{ produit.getCepage() }}</p>
                    <p class="is-flex"><span class="mr-3"><i class="icon material-icons">category</i></span><strong>Famille</strong> : {{ produit.getFamilleProduitNom() }}</p>
                    <p class="is-flex"><span class="mr-3"><i class="icon material-icons">agriculture</i></span><strong>Fournisseur</strong> : {{ produit.getFournisseurNom() }}</p>
                    <p class="is-flex"><span class="mr-3"><i class="icon material-icons">pin_drop</i></span><strong>Region</strong> : {{ produit.getRegion() }}</p>
                    <p class="is-flex"><span class="mr-3"><i class="icon material-icons">event</i></span><strong>Annee</strong> : {{ produit.getAnnee() }}</p>
                    <p class="is-flex"><span class="mr-3"><i class="icon material-icons">liquor</i></span><strong>Degré</strong> : {{ produit.getDegreAlcool() }} °</p>
                    <p class="is-flex"><span class="mr-3"><i class="icon material-icons">euro</i></span><strong>Prix unitaire</strong> : {{ produit.getPrixVente() }} €</p>
                    <p class="is-flex"><span class="mr-3"><i class="icon material-icons">calendar_today</i></span><strong>Date de péremption</strong> : {{ produit.getDatePeremption()|date('d/m/Y') }}</p>
                    <p class="is-flex"><span class="mr-3"><i class="icon material-icons">inventory</i></span><strong>Disponibilité</strong> : {{ produit.getStock().getStatut() }}</p>
                    <p class="is-flex"><span class="mr-3"><i class="icon material-icons">reviews</i></span><strong>Notre avis</strong> :</p>
                    <blockquote>{{ produit.getDescription() }}</blockquote>
                    {% if produit.estEnPromotion() %}
                        <p><strong>Promotion : <span class="tag is-danger"><i class="material-icons">local_offer</i></span></p>
                    {% endif %}
                    <hr>
                    {% if app.user %}
                        <form action="{{ path('ajouter_panier', {'id': produit.getId()}) }}" method="post" class="field is-horizontal is-grouped">
                            <div class="field has-addons">
                                <div class="control">
                                    <input type="number" name="quantite" class="input m-2" id="quantity-{{ produit.getId() }}" value="1" min="1" max="100">
                                </div>
                                <div class="control">
                                    <button type="submit" class="button is-success m-2">
                                        <i class="material-icons">add_shopping_cart</i>
                                    </button>
                                </div>
                            </div>
                            <div class="field has-addons">
                                <div class="control">
                                    <a href="{{ path('catalogue') }}" class="button is-info m-2">
                                        <i class="material-icons mr-2">arrow_back</i>
                                        <span class="is-size-6" >Retour au catalogue</span>
                                    </a>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
